body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    flex-wrap: wrap;
    text-align: center;
    background-color:aqua  
  }

.header {
  font-size: 16px;
  line-height: 1;
  flex-wrap: wrap;
  text-align: center;
}  


.contentCard {
  font-size: 16px;
    line-height: 1;
    flex-wrap: wrap;
    text-align: center;
}


.citiesList {
  font-size: 16px;
    line-height: 1;
    flex-wrap: wrap;
    text-align: center;
}

.weatherCards {
  font-size: 16px;
    line-height: 1;
    flex-wrap: wrap;
    text-align: center;
}


.forecastWeatherCard {
  font-size: 16px;
    line-height: 1;
    flex-wrap: wrap;
    text-align: center;
}